body{
    text-align: center;
    background: linear-gradient(left to right rgb(0, 57, 95), rgb(0, 80, 133), rgb(0, 106, 177));
    color: white;
    
}

*{
    margin: 0;
    padding: 0;
}
/* h1, section, article, footer{
    color: white;
}

a{
    color: rgb(162, 206, 255);
}
*/